@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
.section1 {
    height: 100%;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}
#part2 {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 60px;
}
nav h1 {
    font-size: 1.7vw;
    display: flex;
    align-items: center;
    gap: 10px;
}
nav h1 i {
    display: inline-block;
    rotate: 45deg;
    font-size: 2.5vw;
}
nav h4 {
    font-family: "Noto Sans Mono", serif;
    font-size: 1.2vw;
    font-weight: 500;
}
nav button {
    padding: 10px 25px;
    font-family: "Noto Sans Mono", serif;
    font-size: 1.2vw;
    font-weight: 500;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #000;
}
.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw 4vw 5vw 4vw;
}
.part1 {
    width: 40vw;
}
.part1 h1 {
    font-family: "Space Mono", serif;
    font-size: 3.5vw;
    line-height: 1.2;
    font-weight: 500;
}
.part1 p {
    font-family: "Space Mono", serif;
    font-size: 0.9vw;
    font-weight: 500;
    word-spacing: 1px;
    margin: 20px 0;
}
.part1 button {
    color: #fff;
    font-family: "Space Mono", serif;
    font-size: 0.9vw;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: #1f1f1f;
    margin-top: 30px;
    padding: 15px 30px;
}
.part2 {
    width: 40vw;
}
.part2 img {
    width: 100%;
    height: 25vw;
}
.marquee {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9vw;
    padding: 0 80px;
}
.marquee img {
    width: 7vw;
    height: 40px;
}
.section2 {
    height: 100%;
    width: 100%;
    padding: 50px 80px;
    overflow: hidden;
}
.services {
    width: 50vw;
    display: flex;
    gap: 2vw;
    align-items: center;
}
.services h1 {
    font-family: sans-serif;
    font-size: 2.5vw;
    padding: 3px;
    background-color: #bafe66;
}
.services p {
    font-family: "Space Mono", serif;
    font-size: 0.8vw;
    font-weight: 500;
}
.container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    flex-wrap: wrap;
    gap: 2.5vw;
}
.container .box {
    width: 45%;
    height: 44%;
    display: flex;
    flex-shrink: 0;
    border: 3px solid #1f1f1f;
    border-radius: 30px;
    box-shadow: 0px 10px 0px #1f1f1f;
    padding: 50px;
}
.black {
    background-color: #1f1f1f ;
}
.white {
    background-color: #fff;
}
.box-part1 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.box-part1 h2 {
    width: 80%;
    font-size: 1.5vw;
    font-weight: 500;
    font-family: "Space Mono", serif;
    background-color: #bafe66;
    border-radius: 6px;
    padding: 0 8px;
}
.box-part1 h4 {
    font-size: 1.2vw;
    font-weight: 500;
    font-family: "Space Mono", serif;
}
.box-part1 h4 i {
    font-size: 1.5vw;
    background-color: #1f1f1f;
    color: #fff;
    border-radius: 50%;
    padding: 2px;
}
.box-part2 {
    width: 50%;
}
.box-part2 img {
    width: 100%;
    height: 100%;
    padding-left: 50px;
}
.section3 {
    width: 100%;
    height: 100%;
    padding: 30px 80px;
}
.section3 .box1 {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 0 50px;
    background-color: #f3f3f3;
}
.box1 .part1 {
    width: 45%;
    margin: 30px 0;
}
.box1 h1 {
    font-size: 1.7vw;
    font-family: "Noto Sans Mono", serif;
}
.box1 .part1 p {
    font-size: 0.8vw;
    font-family: "Space Mono", serif;
    margin: 10px 0;
}
.box1 .part1 button {
    color: #fff;
    font-family: "Space Mono", serif;
    font-size: 0.9vw;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: #1f1f1f;
    margin-top: 15px;
    padding: 15px 30px;
}
.box1 .part2 {
    width: 30%;
    height: 100%;
    border: none;
}
.box1 .part2 img {
    width: 20vw;
    height: 100%;
}
.cases {
    width: 57vw;
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 100px 0 50px 0;
}
.cases h1 {
    font-family: "Space Mono", serif;
    font-size: 1.8vw;
    font-weight: 500;
    padding: 0 3px;
    word-spacing: -8px;
    border-radius: 5px;
    box-sizing: content-box;
    background-color: #bafe66;
}
.cases p {
    font-family: "Noto Sans Mono", serif;
    font-size: 0.78vw;
    font-weight: 500;
}
.section3 .box2 {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    border-radius: 30px;
    padding: 30px 10px;
    background-color: #1f1f1f;
}
.box2 .part1 , .part2{
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    border-right: 2px solid #fff;
    padding: 0 2.5vw;
}
.box2 .part3{
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    padding: 0 2.5vw;
}
.box2 .part1 p, .part2 p, .part3 p{
    font-size: 0.9vw;
    font-weight: 500;
    font-family: "Space Mono", serif;
    color: #fff;
    margin: 10px 0;
}
.box2 .part2 {
    width: 33.3%;
    height: 100%;
}
.box2 .part3 {
    width: 33.3%;
    height: 100%;
}
.box2 .part1 h4, .part2 h4, .part3 h4{
    font-size: 0.95vw;
    font-weight: 500;
    font-family: "Space Mono", serif;
    color: #fff;
}
.box2 .part1 h4, .part2 h4, .part3 h4{
    font-size: 0.95vw;
    font-weight: 500;
    font-family: "Space Mono", serif;
    color: #fff;
    margin: 0 0 10px 0;
}
.box2 .part1 i, .part2 i, .part3 i{
    font-size: 1vw;
    font-weight: 500;
    font-family: "Space Mono", serif;
    color: #bafe66;
}